* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: var(--font-sans);
  background-color: var(--bg-site);
  color: var(--text-primary);
  overflow-x: hidden;
}

footer {
  display: flex;
  bottom: 20px;
  gap: 15px;
  align-items: center;
  color: var(--text-secondary);
  font-size: 12px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-primary);
  font-weight: bold;
}

button {
  all: unset;
  cursor: pointer;
}

nav {
  padding: 0px 5px 5px 10px;
  border-left: solid 1px;
  border-color: var(--border-color);
}

#game-container {
  z-index: 50;
  display: grid;
  grid-template-columns: repeat(10, minmax(clamp(30px, 6vw, 70px), 1fr));
  gap: clamp(4px, 1vw, 10px);
  background-color: #171717b2;
  border: solid 1px;
  border-color: var(--bg-secondary);
  border-radius: 2px;
  padding: clamp(0px, 6vw, 15px);
  backdrop-filter: blur(10px);
}

.game-menu {
  z-index: 50;
  display: flex;
  gap: 3px;
  flex-direction: column;
  justify-items: center;
}

.menu-option {
  width: clamp(10px, 6vw, 28px);
  height: clamp(10px, 6vw, 28px);
  border-radius: 8px;
  padding: 5px;
  color: var(--text-secondary);
  transition: all 0.3s ease;
}

.menu-option:hover {
  background-color: var(--bg-secondary);
}

.main-wrapper {
  display: flex;
  gap: 15px;
}

/* bg colors */
.color {
  top: -570px;
  left: -470px;
  position: absolute;
  height: 1000px;
  width: 1000px;
  background-image: transparent;
  transition: background-image 0.4s ease;
  pointer-events: none;
}

.color.success {
  background-image: radial-gradient(closest-side, #064e3bab, black);
  animation: successFlash 2.5s ease;
}

.color.fail {
  background-image: radial-gradient(closest-side, #9f123a7c, black);
}

@keyframes successFlash {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  30% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .main-wrapper {
    flex-direction: column-reverse;
  }

  .game-menu {
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    border: none;
  }

  nav ul {
    display: flex;
    gap: 10px;
  }
}
