:root {
  --font-sans: "Inter", sans-serif;
  
  --bg-site: black;
  --bg-primary: #171717; 
  --bg-secondary: #262626;

  --border-color: #353535;

  --text-primary: #f5f5f5; 
  --text-secondary: #a3a3a3;

  --board-red: #9f1239;
  --board-green: #064e3b;
  --board-revealed: #262626;
}
